* {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #222;

}

html, body {
    min-width: 320px;
    background-color: #efefef;
    padding: 0px;
    margin: 0px;
}

section {
    margin: 0px;
    padding: 50px 15px;
    width: 100%;
    min-width: 320px;
    max-width: 1600px;
    background-color: #bfbfbf;
}

section:nth-child(2n) {
    background-color: #f0f0f0;
}
